
.next {
	position: absolute;
	top: 50%;
	right: 10%;
	font-size: 1000%;
	border:none;
	background: -webkit-linear-gradient(150deg, 
		#fffb00,
		#84ff00,
		#04ff00,
		#00ff7c,
		#00fffb,
		#0084ff);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.last {
	position: absolute;
	top: 50%;
	left: 10%;
	font-size: 1000%;
	border:none;
	background: -webkit-linear-gradient(150deg, 
		#fffb00,
		#84ff00,
		#04ff00,
		#00ff7c,
		#00fffb,
		#0084ff);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#info {
	background: -webkit-linear-gradient(0deg, 
		#fffb00,
		#84ff00,
		#04ff00,
		#00ff7c,
		#00fffb,
		#0084ff);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size:200%;
	animation-delay:1s;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;

}
#text-font {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 70%;
}
#subpage-heading {
	background: -webkit-linear-gradient(150deg, 
    	#d5f439,
		#39d5f4,
		#f439d5);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#link-stem {
	background: -webkit-linear-gradient(150deg, 
		#fffb00,
		#84ff00,
		#04ff00,
		#00ff7c,
		#00fffb,
		#0084ff);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	animation-delay:1s;
}
#link-home {
	animation-delay:2s;
}
#link-resources {
	animation-delay:2.5s;
}
#link-projects {
	animation-delay:3s;
}
#link-about {
	animation-delay:3.5s;
}
#header-text {
	margin-bottom: -1rem;
	font-size: 110%;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	color: #AED6F1;
	padding-left: 3rem;
	padding-top: 2rem;
	
}
#list {
	list-style-type: none;
	text-align: center;	
	padding-top: 2rem;
}
#list-2 {
	list-style-type: none;
}

#search-button {
	position: absolute;
	right: 1%;
	padding-left: 1rem;
	padding-top: 1.5rem;
	animation-delay:0.5s;
}
body {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://00e9e64bacfbae6e436b4a4b565fb78ab40a9c07f474143478-apidata.googleusercontent.com/download/storage/v1/b/stemclubccsf/o/ccsf.jpg?qk=AD5uMEvQz_c3tbug9_ufzVX79sZBODgJRTbYvcIZ-MuDJqnP6EYJiRwrr3OA6hwb1C2r9BA0ZCD6pFZ5MkuqpF0XKuTaaqLsQcunKuJyV9TQeC0eAwJFRdSwwQrCnxxD1bFYPMqljDBETclVQ3lSNb4kleEdUM3_iadme3hj0Z8tVFv6iFl-IOvtp9HXNXI28MIr-g171cZzXOd_EFxLgj-B62sqmnc_Jd6kbu-t_5gYTkizfKAVmmD3cvp9xpK35Ogown01zgErGDlO86CiWYJmSEDk2UN3JHb1UDjDNZnWOXfCThZ_T9WjXd2Pn8s81pgtJj0qDWNr7R0VQWIEyBTYlV3P47zNZ1gxbsCjqoeDA_NE7qwCEK2exOtrn0V_S14OBVherPhP2t1uM1os76_r5CFA74W7N8lmpwh_dozdOXIQQezJccIJQ534iA_LGaQlSy_CJpmAY89c4f5D-Jc0YR7m7tCTGmDRcbkz2d8Kd7Tg_ELTvG9CFZNCpWmdfRx99Qej9hJsrj4ln_fUen-WxyJzoMIpd1eMKR_b393pdq-2E0osTbMFQ-dBxgZsyBMcBGVQvC404h_EhtrUNjqD6JWu4Cm7NtfKgbV9zuYhVDSu3PX9M-daLM3FFxoao74xr9OFgP7cfSxKBhz2dsc3L9rO0COo_bLiyBbHzltrqXyxdohv3_H7XN3X7qsD9yC2M8lu4K1cdvX6Fo65p-aiHkKq-PZOrMfjxvE_oC7_2ZAHNpBbs-g'), no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	animation-delay: 0.5s;
}
#header-line {
	border-color:rgba(128, 128, 166,1);
}
body, html {
	height:100%;
}
#bottom-text {
	background: -webkit-linear-gradient(150deg, 
		#fffb00,
		#84ff00,
		#04ff00,
		#00ff7c,
		#00fffb,
		#0084ff);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	position: fixed;
	left: 1%;
	bottom:1%;
	animation-delay:2.5s;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}